<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Profile</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<!-- NAVBAR -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="profile-container">

    <h1>Edit Profile</h1>

    <form th:action="@{'/user/edit/' + ${user.username}}"
          method="post"
          enctype="multipart/form-data">

        <!-- PROFILE IMAGE -->
        <div class="section">
            <label>Profile Picture</label><br>

            <input type="file"
                   name="profileImage"
                   accept="image/*">

            <br><br>

            <p>Current:</p>

            <img th:src="${user.profileImagePath != null
                          ? '/uploads/' + user.profileImagePath
                          : '/uploads/default.png'}"
                 class="profile-img">
        </div>

        <!-- DESCRIPTION -->
        <div class="section">
            <label>Description</label><br>

            <textarea name="description"
                      rows="5"
                      placeholder="Tell something about yourself..."
                      th:text="${user.description}">
            </textarea>
        </div>

        <!-- SAVE -->
        <button type="submit">Save Changes</button>

    </form>

    <br>

    <a th:href="@{'/user/' + ${user.username}}">← Back to Profile</a>

</div>

</body>
</html>