<div th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar">

        <div class="navbar-left">
            <a href="/">Home</a>
            <a href="/post/create-deck-post">Create Deck Post</a>
            <a href="/post/create-tournament-post">Create Tournament Post</a>
        </div>

        <div class="navbar-right"
             sec:authorize="isAuthenticated()"
             th:if="${loggedUser != null}">

            <a th:href="@{'/user/' + ${loggedUser.username}}"
               class="navbar-user">

                <img th:src="${loggedUser.profileImagePath != null
                              ? '/uploads/' + loggedUser.profileImagePath
                              : '/uploads/default.png'}" />

                <span th:text="${loggedUser.username}"></span>
            </a>

            <form th:action="@{/logout}" method="post">
                <button type="submit" class="secondary-btn">Logout</button>
            </form>
        </div>

        <div sec:authorize="isAnonymous()">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>

    </nav>
</div>